/*  Reset */

*{
    box-sizing: border-box;
}

.wrapper{
    overflow-x: hidden;
    position: relative;
}

.container{
    width: 90%;
    max-width: 1440px;
    
}

.tablet-img{
    display: none;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

















/* Media Queries */

@media (max-width: 1100px){
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desktop-image-left, .desktop-image-right{
        display: none;
    }

    .tablet-img{
        display: block;
    }
}